<h1> MENU</h1>

<ul>
  <li> EDIT PROFILE</li>
</ul>

<ul>
  <li>  <%= link_to "Saved Naps", profile_naps_path(@profile) %></li>
</ul>

<ul>
  <li>  <%= link_to "Create New Nap", new_profile_nap_path(@profile) %></li>
</ul>

<ul>
  <li><%= link_to "Home", '/' %></li>
</ul>