<h1>BABY SLEEP APP</h1>

<p>  <% @profile.name %></p>
<p>  <% @profile.age %></p>

<ul>
  <% @naps.each do |nap| %>
    <li>
      <%= link_to nap.title, nap%>, <%= nap.date %>
    </li>
  <% end %>
</ul>

  <div>
  <%= link_to "New Nap Schdule", new_nap_path %>
  </div>